*{
    padding: 0%;
    margin: 0%;
    border: 0%;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{
    height:100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
#homepageBody{
    background-image:url("images/pexels-foteros-352505.jpg");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:local;
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    margin:0px;
}
.text{
    height: 250px;
    width: 600px;
    margin-top: 10px;
    margin-right: 335px;
    padding: 50px;
    padding-left: 0px;
    color:beige;
}
#textRed{
    color: red;
}
.text>h1{
    font-size:100px;
    padding: 20px 20px;
    color: white;
    text-shadow: 2px 2px 0 black, 4px 4px 0 #9c9c9c;
}
.menu{
    width: 300px;
    height: 500px; 
}
.card{
    width: 200px;
    height: 100px;
    margin:auto;
    margin-top: 20px;
    border: 2px solid red;
    border-radius: 25px;
}
.card>a{
    text-decoration: none;
    color: red;
    font-size: 25px;
}
.card>a>h4{
    text-align: center;
    margin-top: 33px;

}
/*guitar*/
#guitarBody{
    background-color: #A9CCE3;
    background-attachment: scroll;
}
.navbar{
    width: 350px;
    height: 100%;
    border: 2px solid;
    float: left;
    position:fixed;
}
.content{
    width: 1100px;
    height: 100%;
    border: 2px solid red;
    float: right;
}
.product{
    width:400px;
    height:500px;
    margin: 10px auto;
    border:2px solid yellow;
}
.definition{
    width: 400px;
    height: 50px;
    margin:2px auto;
    border:2px solid white
}
.definition>h5{
    font-size: 20px;
    color:black;
    text-align: center;
    margin: 11px;
}
/*
a>h4{
    
    text-decoration:none;
    color:red;
}

 h1{
     padding: 5%;
     text-align: center;
     text-shadow: 3px 3px 10px ghostwhite;
     font-size: 400%;
 }
 .menu{
     height: 20%;
     width: 80%;
     margin: 5% auto;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10%;
     border: 1px solid;
     border-color: red;
     color: red;
     
 }
 span{
     color: red;
 }
*/
 

    
