*{
    padding: 0%;
    margin: 0%;
    border: 0%;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{
    height:100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    background-image:url("images/pexels-foteros-352505.jpg");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    display: flex;
    size: 50%;

}
.block{
    width: 100%;
}
.block2{
    width: 30%;
    height: 50%;
    margin: 20% 60% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

}
.myDiv{
    height: 25%;
    width: 90%;
    color: seashell;
    display: block;
    margin: 5% auto;
}
 h1{
     padding: 5%;
     text-align: center;
     text-shadow: 3px 3px 10px ghostwhite;
     font-size: 400%;
 }
 .menu{
     height: 20%;
     width: 80%;
     margin: 5% auto;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10%;
     border: 1px solid;
     border-color: red;
     color: red;
     
 }
 span{
     color: red;
 }
 
    
